$montserrat: ('Regular', 400),('Bold', 500), ('Medium', 500);
@each $name, $weight in $montserrat{
    @font-face {
        font-family: 'Montserrat';
        src: url('@/assets/fonts/Montserrat-#{$name}.ttf');
        font-weight: $weight;
    }
}