.header {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        background: var(--content-bg);
        box-shadow: 2px 5px 25px 3px #b4b4b497;
        border-radius: 20px;
        padding: 20px;
        width: 400px;
        position: relative;
        &-temp {
            color: var(--logo);
            line-height: 117px;
            font-size: 96px;
            font-weight: 500;
        }
        &-today{
            color: var(--text);
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 31px;
            font-weight: 500;
        }
        &-date{
            line-height: 30px;
            font-size: 25px;
            color: #939CB0;
            margin-bottom: 14px;
        }
        &-city{
            line-height: 30px;
            font-size: 25px;
            color: #939CB0;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .logo {
        display: flex;
        align-items: center;
        column-gap: 20px;

        span {
            color: #4793FF;
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        column-gap: 25px;

        &-input {
            background: #4793FF33;
            padding: 9px 20px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
        }

        &-img {
            cursor: pointer;
        }
    }

}